/*              IMPORTS             */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*              Basics              */

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    font-size: 1rem;
    font-family: 'Poppins';
    color: white;
    background-color: rgb(20, 20, 20);
    transition: 0.3s;
}

p {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Bitter';
    font-weight: 500;
    letter-spacing: 0.05rem;
}

main {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 250px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    gap: 2rem;
}

.cell {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1rem;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.right h1, .right hr {
    text-align: right;
    margin-left: auto;
}


/*              HEADER                      */

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    font-size: 0.8rem;
    
}

#navbar {
    height: 90px;
    background-color: rgb(0, 150, 200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: white !important;
}

header img {
    height: 80%;
}

header ul {
    padding-right: 10px;

}

header a {

    list-style: none;
    text-decoration: none;
    color: white;
    padding: 0 5px;
}

header li {
    padding: 6px 0;
    background-color: inherit;
    border-radius: 15px;
    min-width: 125px;
    text-align: center;
    color: inherit;
    font-family: inherit;
    transition: 0.3s;
}

header li:hover {
    transform: scale(1.05);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: black;

}

i {
    font-size: 30px;

}

#bars, #x {
    font-size: 20px;
    display: none;
}

/*          Menu            */

#basic {
    display: flex;
    flex-direction: row;
}

#basic ul {
    display: inherit;
    flex-direction: inherit;
}

#dropdown {
    display: none;
    width: 50vw;
    background-color: rgb(0, 150, 200);
    border-radius: 0 0 10px 10px;
    margin-left: auto;
    padding: 25px 25px 25px 25px;

    gap: 20px;
    flex-direction: column;
    transition: 0.3s;

}


/*          |Button|                */

#color-mode-btn,
#dropdown-color-mode-btn {
    padding: 6px 0;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0);
    color: inherit;
    transition: 0.3s;
    min-width: 125px;
    /*  font  */

    text-align: center;
    font-weight: inherit;
    font-size: inherit;
}

#color-mode-btn:hover,
#dropdown-color-mode-btn:hover {
    transform: scale(1.05);


    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/*          Color Mode          */

.light-mode {
    background-color: white;
    color: black;

}

.light-mode header li:hover {
    background-color: white;
    color: black;
}

.light-mode #color-mode-btn,
.light-mode #dropdown-color-mode-btn {
    background-color: white;
    color: black;

}

.light-mode #color-mode-btn:hover,
.light-mode #dropdown-color-mode-btn:hover {
    background-color: black;
    color: white;


}


@media (max-width: 850px) {
    main{
        padding-bottom: 300px;
        flex-direction: column;
    }
    .cell{
        width: 100%;
    }
    #dropdown ul {
        padding: 0;
    }

    #dropdown {
        display: none;
        flex-direction: column;

    }

    #bars {
        display: flex;
    }

    #basic {
        display: none;
    }

    #dropdown li {
        font-size: 1.35em;
    }

    #dropdown-color-mode-btn {
        font-size: 1.35em;
    }
}

@media (max-width: 500px) {
    #dropdown {
        width: 100%;
    }
}

@media (min-width: 850px) {
    #dropdown, #x, #bars {
        display: none !important;
    }
}

@media (max-height: 500px) {
    footer {
        margin-top: 500px;
    }
}


.show #dropdown, .show #x {
    display: flex;

}

.show #bars {
    display: none;
}


/***********************FOOTER*************************/
footer p {
    padding-top: 0.8rem;
}

.spacing {
    height: 0.6rem;
}

span {
    padding: 0.2rem 0 0.2rem 0;
}

hr {
    display: flex;
    border: solid 3px rgb(0, 150, 200);
    width: 100%;
}

footer {
    display: flex;
    padding: 20px 40px 5px 40px;
    background-color: rgb(0, 0, 0);
    height: fit-content;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    color: white;
    gap: 10px;
    transition: 0.3s;
    font-size: inherit;
    position: fixed;
}

footer a {
    color: white;
    text-decoration: none;
    transition: 0.3s;

}

footer a:hover {
    scale: 1.2;
    transition: 0.3s;

}

.allfoot {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.mainfoot {
    width: 25%;
    height: fit-content;
    display: flex;
    justify-content: space-between; /* Center horizontally */
    flex-direction: column;

}

.secfoot {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
}


.copyright {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
}

@media (max-width: 850px) {
    footer {
        flex-direction: column;
    }

    .allfoot {
        flex-direction: column;
        align-items: center; /* Center horizontally */
    }

    .mainfoot {
        flex-direction: column;
        width: 100%;

    }


    .secfoot {
        width: 100%;
    }

}

