footer {
    display: flex;
    padding: 20px 40px 50px 40px;
    background-color: rgb(0, 0, 0);
    height: fit-content;
    width: 100%;
    flex-direction: column;
    color: white;
    gap: 10px;
    transition: 0.3s;
}
.allfoot {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}


.mainfoot {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.secfoot {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
}
.copyright {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
}



footer a {
color: white;
    text-decoration: none;
    transition: 0.3s;

}
footer a:hover {
    scale: 1.1;
    transition: 0.3s;

}


/*              Text            */
footer p {
    padding-top: 0.8rem;
    font-family: 'Poppins';
}





/*          Media               */

@media (max-width: 950px) {
    footer {
        flex-direction: column;
    }

    .allfoot {
        flex-direction: column;
        align-items: center; /* Center horizontally */
    }

    .mainfoot {
        flex-direction: column;
        width: fit-content;
        
    }


    .secfoot {
        width: 100%;
    }
}