/*              IMPORTS             */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*              Basics              */

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
/*          Color Mode          */

.light-mode {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.3s;
}

/*          Body                */

body {
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 20, 20);
    transition: 0.3s;
}
main {
    display: flex;
    padding-top: 125px;
    padding-bottom: 125px;
    background-color: inherit;
    width: 85%;
    margin: auto;
    min-height: 100vh;
    gap: 3rem;
    
}


/*          Text        */
hr {
    display: flex;
    border: solid 3px rgb(0, 150, 200);
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.company-name{
    justify-content: center; 
    font-size: 3rem; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-weight: 200; 
    letter-spacing: 0.2rem;
    text-align: center;
}
h1{
    display: flex;
    justify-content: left;
    font-family: inherit;
    font-weight: inherit;
}


p {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Bitter';
    font-weight: 500;
    letter-spacing: 0.05rem;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}


a:hover{
    transition: 0.3s;
}







/*          Media           */

@media (max-width: 950px) {
    #navbar{
        height: 60px;
    }
    main{
        flex-direction: column;
    }
    #dropdown ul {
        padding: 0;
    }

    #dropdown {
        display: none;
        flex-direction: column;

    }

    #bars {
        display: flex;
    }

    #basic {
        display: none;
    }

    #dropdown li {
        font-size: 1.35em;
    }

    #dropdown-color-mode-btn {
        font-size: 1.35em;
    }
}

@media (max-width: 500px) {
    #dropdown {
        width: 100%;
    }
}

@media (min-width: 950px) {
    #dropdown, #x, #bars {
        display: none !important;
    }
}

@media (max-height: 500px) {
    footer {
        margin-top: 500px;
    }
}


.show #dropdown, .show #x {
    display: flex;

}

.show #bars {
    display: none;
}