main{
    flex-direction: column;
}

main div a{
    color: inherit;
}
.contact{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cell{
    display: flex;
    width: 100%;
    height: 40vh;
    flex-direction: row;
    justify-content: space-between;
}

.map{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
}

.right {
    margin-left: auto;
}

.right h1, .right hr {
    justify-content: right;
}

iframe{
    height: 90%;
    aspect-ratio: 16 / 9;
}

.social{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: left;
    justify-content: space-between;
}

.name-adress{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    
}

.name-adress div{
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}


main a:hover{
    scale: 1.1;
    color: rgb(0, 150, 200);
    transition: 0.3s;
}

.social a{
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.heading{
    border: solid 7px rgb(255, 255, 255);
}
.light-mode .heading{
    border: solid 7px rgb(0, 0, 0);

}
h1{
    justify-content: center;
    text-align: center;
}
main i{
    color:rgb(0, 150, 200) ;
}

@media (max-width: 1200px) {
    .cell{
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        justify-content: center;
        width: 100%;
        height: fit-content;
        }

    .social{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .social a{
        width: 250px;
    }
    
    
    
    .map{
        height: fit-content;
        width: 100%;
        justify-content: center;
    }

    iframe{
        width: 100%;
    }

    
}