main{
    flex-direction: column;
}
h1{
    width: 100%;
    text-align: center;
    justify-content: center;
}
a:hover{
    color: rgb(0, 150, 200);
    cursor: pointer;
}
main a{
    font-style: italic;
    color: inherit;
    font-weight: 200;
}